client/arduino-code/CustomerPagerClient/build/esp32.esp32.lolin32-lite/CustomerPagerClient.ino.bootloader.bin
client/arduino-code/CustomerPagerClient/build/esp32.esp32.lolin32-lite/CustomerPagerClient.ino.elf
client/arduino-code/CustomerPagerClient/build/esp32.esp32.lolin32-lite/CustomerPagerClient.ino.map
client/arduino-code/CustomerPagerClient/build/esp32.esp32.lolin32-lite/CustomerPagerClient.ino.partitions.bin
